<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <div class="header-wrapper">
      <div class="header">
	<form action="/search" method="get">
  	  <input class="header-search" type="text" placeholder="Search" value="{{.QueryString}}" name="q" autofocus/>
	</form>
      </div>
    </div>
    <div class="main-header-wrapper main-header-wrapper-small">
      <div class="main-header">
	<ul class="main-header-breadcrumbs">
	  {{ range .Breadcrumbs }}
	  <li class="main-header-breadcrumbs-item"><a class="main-header-breadcrumbs-item-link" href="/{{.Path}}">{{.Name}}</a></li>
 	  {{ end }}
	</ul>	
      </div>
    </div>
    <div class="body">
      {{ range .SearchResults }}
      <div class="search-result">
	<a class="search-result-link" href="/{{.Path}}">{{.Name}}</a>
	<div class="search-result-description">
	  {{.Text}}
	</div>
      </div>
      {{ end }}
    </div>
  </body>
</html>
